<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Portal365_Deployment_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.8.16603" newVersion="3.19.8.16603" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Portal365_Deployment_Manager.Properties.Settings>
      <setting name="F1State" serializeAs="String">
        <value>Maximized</value>
      </setting>
      <setting name="F1Location" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="F1Size" serializeAs="String">
        <value>1056, 786</value>
      </setting>
      <setting name="F1Font" serializeAs="String">
        <value>Microsoft Sans Serif, 8.25pt</value>
      </setting>
      <setting name="F1Position" serializeAs="String">
        <value>CenterScreen</value>
      </setting>
      <setting name="F1AutoSize" serializeAs="String">
        <value>True</value>
      </setting>
    </Portal365_Deployment_Manager.Properties.Settings>
  </userSettings>
</configuration>