<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CredentialManagement" version="1.0.2" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.4" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Deployment" version="9.0.2.4" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.UII.CommonAssemblies" version="9.0.0.7" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.2.4" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="9.0.2.4" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.XrmTooling.PackageDeployment" version="9.0.2.4" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.XrmTooling.WpfControls" version="9.0.2.5" targetFramework="net462" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.19.8" targetFramework="net462" />
  <package id="Microsoft.PowerShell.5.ReferenceAssemblies" version="1.1.0" targetFramework="net462" />
  <package id="Microsoft.PowerShell.EditorServices" version="0.6.2.389" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net462" />
</packages>